/* TaJah Reynolds
    CSE451 Week2 Assignment
    02/09/2021
*/
footer {
    height: 50px;
    width: 100%;
    background-color: lavender;
    border-top: solid;
}

footer h2 {
    text-align: center;
}

img {
    width: 100%
}

table,  td{
    margin-top: 20px;
    text-align: center;
    width: 50%;
    border: solid 2px;
    border-collapse: collapse;
}
